body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  /* Place the footer at the bottom of the page */
  .footer {
    background-color: black;
    color: aliceblue;
    padding: 20px;
    margin-top: auto;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
  }